.places{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: flex-start;
}
.places h1{
	margin-left: 5px;
	font-size: 30px;
	width: 100%;
}
.places article{
	width: 45%;
	padding: 5px;
	margin: 5px 10px;
	border: 1px solid #FF5A5F;
	border-radius: 4px;
	text-align: center;
	display: flex;
	flex-direction: column;
}
.places article h2{
	font-size: 30px
}
.places article:last-child {
    margin: 10px auto;
}